{% extends "global/base.html" %}
{% block content %}
<div class="form-wrapper">
    <h1>Criar Registros de Entregas</h1>
    
    <form 
      action="{{ form_action_registro_entregas }}"
      method="POST"
      enctype="multipart/form-data"
    >
    {% csrf_token %}
    <div class="form-content">
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}

                {% if field.help_text %}
                    <p class="help-text">{{ field.help_text }}</p>
                {% endif %}
            </div>        

            <!-- Exebi a imagem para cria ou atualiza -->
            {% if field.nome == 'foto_recebendo' or ' foto_recebendo' and field.value.url %}
            
            <div class="form-group">
                    <img src=" {{ field.value.url }} " alt="">
            </div>        

            {% endif %}

        {% endfor %}
    </div>

    <div class="form-content">
        <div class="form-group">
          <button class="btn" type="submit">Cadastrar</button>
        </div>
    </div>
    </form>
</div>

<!-- Adicionando Flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        flatpickr("#id_saida", {  // Certifique-se que o campo tem este ID
            enableTime: true,
            dateFormat: "Y-m-d H:i",  // Formato da data e hora
            time_24hr: true,  // Para horário em formato 24 horas
            locale: "pt", // Define o idioma como português
            onOpen: function (selectedDates, dateStr, instance) {
                // Ajusta o fuso horário para GMT-3 (Brasília) quando o campo for aberto
                const offset = -3 * 60; // Fuso horário de Brasília em minutos
                const currentDate = new Date();
                currentDate.setMinutes(currentDate.getMinutes() + currentDate.getTimezoneOffset() + offset);
                instance.setDate(currentDate);
            }
        });
    });
</script>
{% endblock content %}