{% extends "global/base.html" %}

{% block content %}

    <div class="single-contact">
        <h1 class="single-contact-name">

            {{ registro_entregas.destino }}
        </h1>
        <p><b>ID:</b> {{ registro_entregas.id }}</p>
        <p><b>Tipos de Entregas:</b> {{ registro_entregas.tipos_de_entrega }}</p>
        <p><b>Codigo de Rastreamento:</b> {{ registro_entregas.codigo_de_rastreamento }}</p>
        <p><b>Destino:</b> {{ registro_entregas.destino }}</p>
        <p><b>Apartamento:</b> {{ registro_entregas.apartamento }}</p>
        <p><b>Data Registros:</b> {{ registro_entregas.data_registro }}</p>
        <p><b>Obs:</b> {{ registro_entregas.obs }}</p>

        {% if registro_entregas.foto_recebendo %}
            <p>
                <img src=" {{ registro_entregas.foto_recebendo.url }} " alt=" {{ registro_entregas.destino }} ">
            </p>
        {% endif %}
        {% if registro_entregas.foto_entrega %}
            <p>
                <img src=" {{ registro_entregas.foto_entrega.url }} " alt=" {{ registro_entregas.id }} ">
            </p>
        {% endif %}

        <p><b>Data da Entrega:</b> {{ registro_entregas.horario_da_entrega }}</p>
        <p><b>Quem Recebeu:</b> {{ registro_entregas.quem_recebeu }}</p>
        
        <div class="contact-links">
            <a class="btn btn-link" 
            href="{% url 'contact:update_entregas' registro_entregas.id  %}">
             Atualiza Visitante
             </a>
             <a class="btn btn-link btn-volta" 
            href="{% url 'contact:registro_entregas_index' %}">
             Volta
            </a>
        </div>

     </div>

{% endblock content %}