    
    

    <ul class="menu">
        <li class="menu-item"> <a href="{% url 'moradores:indexMoradores' %}" class="menu-link"> Sistema Patrimonial - Moradores</a> </li>
        
        <li class="menu-item">
            <a href="" class="menu-link">
                <h2>Entregas</h2>
            </a>
        </li>
        
        <li class="menu-item">
            <a href="" class="menu-link">
                <h2>Eventos</h2>
            </a>
        </li>
        <li class="menu-item">
            <a href="" class="menu-link">
                <h2  >Sair do Sistema</h2>
            </a>
        </li>
    </ul>