<!DOCTYPE html>
<html lang="pt-BR">

    {% include "cabecario/_base.html" %}

<body>
    {% include "cabecario/menu.html" %}
    {% include "cabecario/_messagen.html" %}
    <div class="responsive-table">
        <table class="contacts-table">
            <caption class="table-caption" >
                Entrada de Visitantes

                <div class="search">
                    <form action="{% url 'moradores:busca_visitante' %}" 
                    method="GET">
                        <input 
                        type="text" 
                        class="search-input"
                        placeholder="Busca"
                        id="busca_id"
                        name="q"
                        value="{{ request.GET.q.strip }}"
                        >
                    </form>
                </div>
                
                
                    <h2> Visitantes Registrado </h2>
                
            </caption>

            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-header">ID</th>
                    <th class="table-header">Nome</th>
                    <th class="table-header">APT</th>
                    <th class="table-header">ID R.</th>
                    <th class="table-header">Entrada</th>
                    <th class="table-header">Saida</th>
                </tr>
            </thead>
            
            <tbody>
                {% for visitante in page_obj %}
                  <tr class="table-row">
                    <td class="table-cel">
                        {{ visitante.id }}
                    </td>
                    <td class="table-cel">
                        <a href=" {% url 'moradores:visitante_id' visitante.id %} " 
                        class="table-link"
                        >
                            {{ visitante.nome }}
                        </a>
                    </td>
                    <td class="table-cel">
                        {{ visitante.apartamento }}
                    </td>
                    <td class="table-cel">
                        
                        {{ visitante.id_registro }}
                    </td>
                    <td class="table-cel">
                        {{ visitante.data_entrada }}
                    </td>
                    <td class="table-cel">
                        {{ visitante.saida }}
                    </td>
                  </tr>
                {% endfor %}        
            </tbody>
        </table>
        {% include "cabecario/_pagination.html" %}
    </div>

</body>
</html>