{% extends "global/base.html" %}
{% block content %}  
    <div class="responsive-table">
        <table class="contacts-table">
            <caption class="table-caption" >
                Agendamentos de Eventos Salão de Festa e Deck

                <div class="search">
                    <form action="{% url "contact:eventos_busca" %}" 
                    method="GET">
                        <input 
                        type="text" 
                        class="search-input"
                        placeholder="Busca"
                        id="search"
                        name="q"
                        value="{{ request.GET.q.strip }}"
                        >
                    </form>
                </div>
                
                <a href=" {% url "contact:create_eventos" %} " class="header-link">
                    <h2> Agendar eventos no Salão de Festa ou Deck </h2>
                </a>
            </caption>

            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-header">ID</th>
                    <th class="table-header">Nome</th>
                    <th class="table-header">Local do Evento</th>
                    <th class="table-header">APT</th>
                    <th class="table-header">Dia e Horario do Evento</th>
                    <th class="table-header">Final do Evento</th>
                </tr>
            </thead>
            
            <tbody>
                {% for agenda in page_obj %}
                  <tr class="table-row">

                    <td class="table-cel">
                        {{ agenda.id }}
                    </td>

                    <td class="table-cel">
                        <a href=" {% url "contact:eventos_id" agenda.id %} " 
                        class="table-link"
                        >
                        {{ agenda.nome_responsavel }}
                    </a>
                </td>
                
                <td class="table-cel">
                        {{ agenda.local_evento }}
                    </td>

                    <td class="table-cel">
                        
                        {{agenda.apartamento }}
                    </td>

                    <td class="table-cel">
                        {{ agenda.data_horas_evento }}
                    </td>

                    <td class="table-cel">
                        {{ agenda.horario_final_evento }}
                    </td>

                  </tr>
                {% endfor %}        
            </tbody>
        
        </table>
    </div>
{% endblock content %}