{% extends "global/base.html" %}

{% block content %}

    <div class="single-contact">
        <h1 class="single-contact-name">

            {{ ocorrencia.data }}
        </h1>
        <p><b>ID:</b> {{ ocorrencia.id }}</p>
        <p><b>Registro:</b> {{ ocorrencia.owner }}</p>
        <p><b>Nome:</b> {{ ocorrencia.nome_completo }}</p>
        <p><b>Ocorrencias:</b> {{ ocorrencia.ocorrencia }}</p>
        <div class="contact-links">

            {% if user == ocorrencia.owner %}

                <a class="btn btn-link" 
                    href="{% url 'contact:ocorrenciaUpdate' ocorrencia.id  %}">
                        Atualiza Visitante
                </a>
            {% endif %}

             <a class="btn btn-link btn-volta" 
            href="{% url 'contact:ocorrencias_index' %}">
             Volta
             </a>
        </div>
    </div>

{% endblock content %}