{% extends "global/base.html" %}
{% block content %}  
    <div class="responsive-table">
        <table class="contacts-table">
            <caption class="table-caption" >
                Ocorrencias do Plantão

                <div class="search">
                    <form action="{% url "contact:ocorrencias_index_busca" %}" 
                    method="GET">
                        <input 
                        type="text" 
                        class="search-input"
                        placeholder="Busca Registros"
                        id="search"
                        name="q"
                        value="{{ request.GET.q.strip }}"
                        >
                    </form>
                </div>
                
                <a href=" {% url "contact:ocorrenciaIndex" %} " class="header-link">
                    <h2>Adicionar Registros de Visitantes</h2>
                </a>
            </caption>

            
        </table>
        <div class="ocorrencias-container">
            {% for ocorrencia in ocorrencias %}
                <div class="ocorrencia-card">
                    <a href="{% url "contact:ocorrencias_index_id" ocorrencia.id %}">
                        <p>{{ ocorrencia.data }}</p>
                        <h2>{{ ocorrencia.nome_completo }}</h2>
                        <p>{{ ocorrencia.ocorrencia|truncatechars:100 }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% if ocorrencias %}
        <div class="pagination">
            <span class="step-links">
                {% if ocorrencias.has_previous %}
                    <a href="?page=1&q={{ request.GET.q.strip }}">&laquo; primeira Pagina</a>
                    <a href="?page={{ ocorrencias.previous_page_number }}&q={{ request.GET.q.strip }}">Voltar</a>
                {% endif %}

                <span class="current">
                    Pagina {{ ocorrencias.number }} de {{ocorrencias.paginator.num_pages }}.
                </span>

                {% if ocorrencias.has_next %}
                    <a href="?page={{ ocorrencias.next_page_number }}&q={{ request.GET.q.strip }}">Proxima Pagina</a>
                    <a href="?page={{ ocorrencias.paginator.num_pages }}&q={{ request.GET.q.strip }}">Final da Pagina &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>
{% endblock content %}